option_settings:
  - option_name: DJANGO_SETTINGS_MODULE
    value: settings.staging
  - option_name: DJANGO_SECRET_KEY
    value: xxxxxxx
  - option_name: DJANGO_DB_STAGING_HOST
    value: xxxx.eu-west-1.rds.amazonaws.com
  - option_name: DJANGO_DB_STAGING_PORT
    value: xxxx
  - option_name: DJANGO_DB_STAGING_NAME
    value: xxx
  - option_name: DJANGO_DB_STAGING_USER
    value: xxxxx
  - option_name: DJANGO_DB_STAGING_PASSWORD
    value: xxxxxx
  - option_name: DJANGO_DB_PROD_HOST
    value: xxxxxxxxx
  - option_name: DJANGO_DB_PROD_PORT
    value: xxxxxxxxx
  - option_name: DJANGO_DB_PROD_NAME
    value: xxxxxxxxx
  - option_name: DJANGO_DB_PROD_USER
    value: xxxxxxxxx
  - option_name: DJANGO_DB_PROD_PASSWORD
    value: xxxxxxxxx
  - option_name: AWS_ACCESS_KEY_ID
    value: xxxxxxx
  - option_name: AWS_SECRET_ACCESS_KEY
    value: xxxxxxx
