container_commands:
  01_requirement:
    command: "pip install -r requirements/staging.txt"
    test: '[ "$DJANGO_SETTINGS_MODULE" = "settings.staging" ]'
  02_requirement_dev:
    command: "pip install -r requirements/local.txt"
    test: '[ "$DJANGO_SETTINGS_MODULE" = "settings.local" ]'
  03_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  04_migrate:
    command: "django-admin.py migrate"
    leader_only: true
commands:
  WSGIPassAuthorization:
    command: sed -i.bak '/WSGIScriptAlias/ a WSGIPassAuthorization On' config.py
    cwd: /opt/elasticbeanstalk/hooks